{% comment %}
  Gift Guide Product Grid with Quick View
{% endcomment %}

{{ 'gift-guide-product-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'gift-guide.js' | asset_url }}" defer="defer"></script>

<div class="product-grid-container">
  <div class="product-grid-heading">{{ section.settings.heading-text }}</div>
  <div class="grid-container">
    {% for product in collections.gift-guide.products limit: 6 %}
      {% assign first_image = product.featured_image | img_url: '600x600' %}
      <div class="image-container">
        <img class="product-image"
             src="{{ first_image }}"
             alt="{{ product.title }}"
             width="100%"
             height="100%">
        <div class="plus-icon"
          data-title="{{ product.title }}"
          data-image="{{ first_image }}"
          data-description="{{ product.description | strip_html | truncate: 150 }}"
          data-variants='{{ product.variants | json }}'>
          +
        </div>
      </div>
    {% endfor %}
  </div>
  {% for product in collections.add-on.products%}
  <p>{{ variant.title }} - {{variant.id }} </p>
{% endfor %}
</div>

<!-- Modal -->
<div id="productModal" class="modal">
  <div class="modal-content">
    <div class="close">&times;</div>
    <div class="modal-header">
      <img id="modalImage" src="" alt="" width="120px" height="auto">
      <div class="modal-details">
        <div id="modalTitle"></div>
        <div class="price" id="modalPrice"></div>
        <div id="modalDescription"></div>
      </div>
    </div>
    <p class="color-text">Color</p>
    <div class="color-box-selector"></div>

    <p class="color-text">Size</p>
    <select id="sizeSelect" class="size-dropdown">
      <option value="" disabled selected>Choose your size</option>
    </select>

    <button class="gg-btn-cart">ADD TO CART →</button>
  </div>
</div>

{% schema %}
{
  "name": "Gift Guide Grid",
  "settings": [
    { "type": "text", "id": "heading-text", "label": "Heading for the grid", "default": "Tisso vision in the wild" }
  ],
  "presets": [{ "name": "Gift Guide Banner (Custom)" }]
}
{% endschema %}
